/*----------------------------
    Contact
----------------------------*/
.contact-info {
    .boxes-wrapper {
        position: relative;
        z-index: 3;
        margin-top: -40px;
        overflow: hidden;
        border-radius: 10px;

        >[class*="col-"] {
            &:nth-of-type(1) {
                .contact-box {
                    background-color: $color-primary;
                }
            }

            &:nth-of-type(2) {
                .contact-box {
                    background-color: #3851a2;
                }
            }

            &:nth-of-type(3) {
                .contact-box {
                    background-color: #2d4990;
                }
            }
        }
    }

    .contact-box {
        position: relative;
        padding: 45px;
        height: 100%;

        .contact-title {
            font-size: 19px;
        }

        .contact-icon {
            font-size: 50px;
            flex: 0 0 80px;
            max-width: 80px;
        }

        .contact-title,
        .contact-icon,
        .time-list li,
        .contact-desc {
            color: $color-white;
        }

        .phone-number {
            font-size: 23px;
            margin-top: 5px;
            font-weight: 600;
            color: $color-white !important;

            .icon-phone {
                font-size: 17px;
                width: 40px;
                height: 40px;
                line-height: 40px;
                border-radius: 50%;
                text-align: center;
                margin-right: 10px;
                background-color: #1ebaae;
            }
        }

        .btn-white.btn-outlined {
            height: 42px;
            border: 1px solid rgba($color-white, 0.25);
        }
    }
}

.contact-panel {
    position: relative;
    z-index: 2;
    padding: 60px;
    border-radius: 5px;
    background-color: $color-white;
    box-shadow: 0px 5px 83px 0px rgba(9, 29, 62, 0.1);

    .panel-header {
        padding: 35px 40px;
        border-radius: 5px 5px 0 0;
        background-color: $color-primary;

        .panel-title {
            font-size: 20px;
        }
    }
}

.map iframe {
    width: 100%;
}

.map-container {
    position: absolute;
    top: 50%;
    z-index: 1;
    width: 340px;
    transform: translateY(-50%);
    margin-left: calc((100% - 1250px) / 2);
    margin-right: calc((100% - 1250px) / 2);

    .accordion-item {
        padding: 0;
        border: 0;

        &.opened {

            .accordion-header:not(.collapsed) {
                .accordion-title {
                    color: $color-secondary;
                }
            }
        }

    }

    .accordion-header {
        border-top: 1px solid #e7ebef;
        border-bottom: 1px solid #e7ebef;
    }

    .accordion-header,
    .accordion-body {
        padding: 20px 40px;
    }

    .accordion-title {
        padding: 0 40px 0 0;
        font-size: 17px;

        &:after {
            left: auto;
            right: 0;
        }
    }

    .contact-list li {
        font-size: 14px;
        margin-bottom: 7px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.contact-panel-title {
    font-size: 24px;
    margin-bottom: 14px;
}


.contact-layout1 {
    .text-block {
        margin-bottom: 37px;
        padding-right: 50px;
    }

    .text-block-desc {
        font-size: 15px;
    }
}

.contact-layout2 {
    .testimonials-layout2 {
        margin-top: 20px;
        padding-top: 70px;
        border-top: 2px solid #c1c3ec;
    }
}

.contact-layout3,
.contact-layout4 {
    .fancybox-layout2 .fancybox-item {
        .fancybox-body {
            border-bottom: 1px solid #6d6fb3;
        }

        &:last-of-type {
            margin-bottom: 0;

            .fancybox-body {
                padding-bottom: 0;
                border-bottom: 0;
            }
        }
    }

    .btn-white {
        color: $color-primary;

        &:hover {
            color: $color-white;
            background-color: $color-secondary;
        }
    }
}

.contact-layout4 {
    .accordion-item {
        border-color: #6d6fb3;
        background-color: transparent;

        &:after {
            color: $color-primary;
            background-color: $color-white;
        }

        &:first-child {
            border-top-color: $color-white;
        }

        .accordion-title {
            color: $color-white;

            &:hover {
                color: $color-secondary;
            }
        }

        .accordion-body p {
            color: $color-gray;
        }

        &.opened .accordion-header:not(.collapsed) .accordion-title {
            color: $color-secondary;

            &:after {
                color: $color-secondary;
                background-color: $color-white;
            }
        }
    }
}

.contact-layout5 {
    .contact-panel {
        border-radius: 15px;
    }

    .contact-panel-form {
        flex: 0 0 70%;
        max-width: 70%;
        padding-right: 50px;
    }

    .contact-panel-banner {
        padding-top: 30px;
        flex: 0 0 30%;
        max-width: 30%;
    }

    .widget-banner {
        padding: 50px;

        &.bg-overlay-primary::before {
            background-color: rgba($color-primary, 0.95);
        }

        .widget-desc {
            font-size: 16px;
            margin-bottom: 160px;
        }

        .btn-white {
            color: $color-primary;

            &:hover {
                color: $color-white;
            }
        }
    }
}

.locations-panel {
    margin-bottom: 65px;

    .locations-panel-header {
        border-bottom: 2px solid #eaeaea;
        margin-bottom: 25px;
    }

    .locations-panel-title {
        font-size: 25px;
        margin-bottom: 25px;
    }

    ul {
        display: flex;
        flex-wrap: wrap;

        li {
            margin-bottom: 18px;
            flex-basis: 25%;

            a {
                color: $color-primary;
                font-size: 14px;
                font-weight: 700;

                &:hover {
                    color: $color-secondary;
                }

                i {
                    margin-right: 10px;
                }
            }
        }
    }
}

.login-form {
    margin: auto;
    padding: 60px;
    max-width: 400px;
    border-radius: 20px;
    background-color: $color-white;
    box-shadow: 0px 5px 83px 0px rgba(13, 14, 67, 0.12);

}

@media (min-width:1300px) {
    .contact-layout2 {
        margin-right: 20px;
        margin-left: 20px;
        overflow: hidden;
        border-radius: 20px;
    }
}

@media (min-width:1500px) {
    .contact-layout2 {
        margin-right: 50px;
        margin-left: 50px;
    }
}

@media (min-width:1200px) {

    .contact-layout2,
    .contact-layout3,
    .contact-layout4 {
        .contact-panel {
            margin-left: 30px;
        }
    }

    .contact-layout9 {
        .contact-panel-form {
            padding-right: 70px;
        }
    }

    .contact-layout8 .contact-panel {
        margin-right: 30px;
    }
}

@media (max-width:1199px) {
    .contact-layout5 {

        .contact-panel,
        .widget-banner {
            padding: 30px;
        }
    }
}

/* Mobile Phones & tablets and Small Screens */
@media (max-width:992px) {
    .contact-info {
        .contact-box {
            padding: 25px;
        }
    }

    .contact-panel {
        padding: 20px;

        .contact-panel-desc {
            font-size: 13px;
            line-height: 23px;
        }
    }

    .contact-layout3,
    .contact-layout4 {
        .contact-panel {
            margin-top: 30px;
        }
    }

    .contact-layout5 {
        .contact-panel-form {
            padding-right: 0;
        }

        .contact-panel-form,
        .contact-panel-banner {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}

/* Mobile Phones and tablets  */
@include xs-sm-screens {
    .contact-info .boxes-wrapper {
        margin-top: -20px;

        .contact-box {
            padding: 15px;

            .contact-icon {
                font-size: 40px;
                -webkit-box-flex: 0;
                -ms-flex: 0 0 50px;
                flex: 0 0 50px;
                max-width: 50px;
            }

            .contact-title {
                font-size: 16px;
                margin-bottom: 10px;
            }
        }
    }

    .locations-panel ul li {
        flex-basis: 50%;
    }
}