/*-------------------------
    Work Process
-------------------------*/
.process-item {
    position: relative;
    padding: 48px 30px 40px 38px;
    border-radius: 6px 6px 0 0;
    margin-bottom: 30px;
    background-color: $color-white;
    border-bottom: 8px solid #dfdfea;
    box-shadow: 0px 5px 83px 0px rgba(13, 14, 67, 0.08);
    @include prefix(transition, all 0.3s ease, webkit moz ms o);

    .process-number {
        position: absolute;
        top: 20px;
        right: 30px;
        font-family: $font-heading;
        font-size: 34px;
        font-style: italic;
        color: #eaedf5;
    }

    .process-icon {
        position: relative;
        color: $color-heading;
        font-size: 55px;
        margin-bottom: 16px;
        @include prefix(transition, color 0.4s linear, webkit moz ms o);
    }

    .process-title {
        font-size: 19px;
        margin-bottom: 18px;
    }

    .process-desc {
        font-size: 14px;
        margin-bottom: 20px;
    }

    &:hover {
        border-bottom-color: $color-secondary;
        @include prefix(transform, translateY(-5px), webkit moz ms o);

        .process-icon {
            color: $color-secondary;
        }

        .btn-link {
            color: $color-secondary;
        }
    }
}

.work-process {
    .slick-list {
        margin: -15px;
        overflow: visible;
    }

    .slick-slide {
        margin: 15px;
        @include prefix(transition, all 0.3s ease, webkit moz ms o);

        &.slick-active {
            opacity: 1;
            visibility: visible;
        }

        &:not(.slick-active) {
            opacity: 0;
            visibility: hidden;
        }
    }

    .cta {
        padding-top: 140px;
        padding-bottom: 70px;
        margin-top: -70px;

        .cta-title {
            color: $color-white;
            font-size: 27px;
        }

        .cta-desc {
            font-size: 16px;
            color: $color-white;
        }

        .btn:not(.btn-link) {
            height: 50px;
        }
    }
}

@media (min-width:1500px) {
    .work-process {
        .carousel-container {
            margin-right: -200px;
        }

        .process-item .process-title {
            padding-right: 40px;
        }
    }
}

@media (min-width:1200px) {
    .work-process {
        .carousel-container {
            margin-right: -140px;
        }

        .cta {
            .cta-title {
                padding: 0 30px;
            }

            .cta-desc {
                padding: 0 30px;
                margin-bottom: 0;
            }
        }
    }
}

/* Mobile Phones and tablets */
@include xs-sm-screens {
    .process-item {
        padding: 20px;

        &:before {
            top: 20px;
            bottom: 20px;
        }

        .process-number {
            top: 20px;
            right: 20px;
            font-size: 50px;
        }
    }
}