// Sass Variables
$color-primary: #001278;
$color-secondary: #fb0102;
$color-heading: #252775;
$color-body: #848e9f;
$color-dark: #222222;
$color-black: #000000;
$color-gray: #f9f9f9;
$color-white: #ffffff;
$color-light: #6d6fb3;

$font-heading: 'Titillium Web',
sans-serif;

$font-body: 'Roboto',
sans-serif;

$body-font-size: 15px;